@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

@media all and (max-width: 1280px) {
  * {
    scroll-behavior: smooth;
  }
}

*:not(.btn) {
  cursor: none;
}

* .btn {
  cursor: pointer;
}

body {
  background-color: #f6f6f6;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  overflow: hidden;
  scroll-behavior: smooth;
}

@media all and (max-width: 1280px) {
  body {
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

h1.heading.hover .rubberBand, h2.heading.hover .rubberBand {
  -webkit-text-fill-color: deepskyblue;
  color: deepskyblue;
}

.cursor {
  width: 30px;
  height: 30px;
  position: absolute;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 98;
  pointer-events: none;
  -webkit-transition: background-color .3s ease-in-out, width .3s ease-in-out .1s,height .3s ease-in-out .1s;
  transition: background-color .3s ease-in-out, width .3s ease-in-out .1s,height .3s ease-in-out .1s;
  border: 1px solid deepskyblue;
  background-color: transparent;
}

.cursor.z-index-1000 {
  z-index: 1000;
}

.cursor.hover {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: deepskyblue;
  height: 80px;
  width: 80px;
}

.cursor.hover-image {
  background-color: crimson;
}

.cursor.hover-trans {
  background-color: white;
  mix-blend-mode: difference;
}

.cursor.imageHover {
  background-color: white;
  mix-blend-mode: hue;
}

.cursor.hover-btn {
  height: 50px;
  width: 50px;
  border-color: #000;
  background-color: transparent;
}

.cursor.dotHover {
  height: 50px;
  width: 50px;
  border-color: #fff;
  background-color: transparent;
}

.cursor.hover-heading {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
}

.cursor.red {
  border-color: crimson;
}

@media all and (max-width: 1280px) {
  .cursor {
    display: none;
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
}

.welcomeModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcomeModal i:not(.arrow) {
  position: absolute;
  top: 10px;
  right: 10px;
  color: crimson;
  font-size: 20px;
}

.welcomeModal .arrow {
  color: deepskyblue;
  border: 2px solid deepskyblue;
  padding: 8px;
}

.welcomeModal .arrow:first-of-type {
  color: crimson;
  border-color: crimson;
}

.welcomeModal p {
  border: 2px solid deepskyblue;
  padding: 40px;
  width: 650px;
  background-color: #fff;
  position: relative;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
}

section:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 1280px) {
  section {
    min-height: 0;
  }
}

.stroke {
  -webkit-text-fill-color: #f6f6f6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: deepskyblue;
}

p, li, ul {
  font-size: 18px;
  line-height: 1.6;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 1;
}

.heading.title {
  position: relative;
}

.heading.title::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  border: 1px solid deepskyblue;
}

h1 {
  font-size: 160px;
}

h2 {
  font-size: 60px;
}

h2.big {
  font-size: 110px;
  min-width: 520px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

@media all and (max-width: 740px) {
  h1 {
    font-size: 140px;
  }
  h2 {
    font-size: 50px;
  }
  h2.big {
    font-size: 80px;
    min-width: 0;
  }
  h3 {
    font-size: 18px;
  }
  p, ul, li {
    font-size: 16px;
  }
}

@media all and (max-width: 440px) {
  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 40px;
  }
  h2.big {
    font-size: 60px;
    min-width: 0;
  }
  h3 {
    font-size: 17px;
  }
  p, ul, li {
    font-size: 16px;
  }
}

h1 span, h2 span, h3 span {
  font-family: "Poppins", sans-serif;
}

.letter {
  display: inline-block;
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: deepskyblue;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
            transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
            transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
            transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
            transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
            transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
            transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

.btn:not(i) {
  padding: 15px 25px;
  min-width: 160px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: relative;
  overflow: hidden;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

@media all and (max-width: 440px) {
  .btn:not(i) {
    min-width: 140px;
  }
}

.btn:not(i).big {
  min-width: 260px;
  font-size: 20px;
  padding: 20px 25px;
}

.btn:not(i).long {
  width: 100%;
}

.btn:not(i).primary {
  background-color: white;
  border: 1px solid deepskyblue;
}

.btn:not(i).primary span {
  position: relative;
  z-index: 2;
  color: deepskyblue;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.btn:not(i).primary::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  left: 0;
  bottom: 0;
  background-color: deepskyblue;
  right: 100%;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.btn:not(i).primary:hover span {
  color: #f6f6f6;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.btn:not(i).primary:hover::before {
  right: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.btn:not(i).transparent {
  color: rgba(255, 255, 255, 0.7);
}

.btn:not(i).transparent span {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.btn:not(i).transparent:hover {
  color: white;
}

.btn:not(i).transparent:hover::after {
  background-color: white;
}

.btn:not(i).transparent:hover span {
  color: white;
}

.btn:not(i).secondary {
  background-color: deepskyblue !important;
  color: #fff;
}

.btn:not(i).secondary span {
  position: relative;
  z-index: 2;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.btn:not(i).secondary::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  left: 0;
  bottom: 0;
  background-color: crimson;
  right: 100%;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.btn:not(i).secondary:hover::before {
  right: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

footer {
  margin: 80px 0;
  background-color: crimson;
  height: 60px;
}

footer img {
  margin: 0 auto;
  display: block;
  height: 100px;
  width: 100px;
  position: relative;
  top: -20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1440px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .backArrow {
  display: none;
}

@media all and (max-width: 740px) {
  header {
    position: static;
    -webkit-transform: none;
            transform: none;
    padding: 10px 20px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: deepskyblue;
  }
  header .backArrow {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    color: deepskyblue;
    font-size: 40px;
  }
  header .backArrow.active {
    display: block;
  }
  header img {
    width: 60px !important;
    height: 60px !important;
  }
  header .hamburger .hamburger-box .hamburger-inner {
    background-color: #fff;
  }
  header .hamburger .hamburger-box .hamburger-inner::after, header .hamburger .hamburger-box .hamburger-inner::before {
    background-color: #fff;
  }
  header .hamburger:not(.is-active) .hamburger-box .hamburger-inner {
    width: 30px;
    margin-left: 10px;
  }
  header .hamburger:not(.is-active) .hamburger-box .hamburger-inner::before {
    width: 40px;
    margin-left: -10px;
  }
  header .hamburger:not(.is-active) .hamburger-box .hamburger-inner::after {
    width: 20px;
  }
}

header ul .hover a {
  color: #fff;
}

header .hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
}

header .hamburger.hover .hamburger-inner {
  background-color: #fff;
}

header .hamburger.hover .hamburger-inner::after, header .hamburger.hover .hamburger-inner::before {
  background-color: #fff;
}

header .hamburger:not(.is-active) .hamburger-box .hamburger-inner {
  width: 30px;
  margin-left: 10px;
}

header .hamburger:not(.is-active) .hamburger-box .hamburger-inner::before {
  width: 40px;
  margin-left: -10px;
}

header .hamburger:not(.is-active) .hamburger-box .hamburger-inner::after {
  width: 20px;
}

header .hamburger .hamburger-inner {
  background-color: deepskyblue;
}

header .hamburger .hamburger-inner::after, header .hamburger .hamburger-inner::before {
  border-radius: 0;
  background-color: deepskyblue;
}

header img {
  width: 70px;
  height: 70px;
}

.navigation {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 10;
  background-color: deepskyblue;
  -webkit-transition: .75s ease-in-out;
  transition: .75s ease-in-out;
}

.navigation.active {
  left: 0;
}

.navigation.active ul li:nth-child(2n + 1) {
  -webkit-animation: menuLeft .7s linear forwards;
          animation: menuLeft .7s linear forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.navigation.active ul li:nth-child(2n + 2) {
  -webkit-animation: menuRight .7s ease-in-out forwards;
          animation: menuRight .7s ease-in-out forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.navigation ul {
  min-width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation ul li {
  width: 100%;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
  opacity: 0;
}

@media all and (max-width: 1280px) {
  .navigation ul li:nth-last-child(2) {
    display: none;
  }
}

.navigation ul li::after {
  content: '';
  position: absolute;
  top: calc(100% - 2px);
  z-index: 1;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.navigation ul li .btn {
  width: 100%;
  font-size: 50px;
  line-height: 1.4;
}

.navigation ul li:last-child::after {
  display: none;
}

.navigation ul li:hover::after {
  background-color: white;
}

@-webkit-keyframes menuLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  33% {
    opacity: 0.2;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  66% {
    opacity: 0.8;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menuLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  33% {
    opacity: 0.2;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  66% {
    opacity: 0.8;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes menuRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  33% {
    opacity: 0.2;
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  66% {
    opacity: 0.8;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menuRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  33% {
    opacity: 0.2;
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  66% {
    opacity: 0.8;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner h1.heading, .banner h2.heading {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.banner h1.heading span, .banner h2.heading span {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.banner h2 span:nth-child(4) {
  padding: 10px;
}

.banner article {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner article:first-child {
  width: 55%;
  padding: 0 60px;
  text-align: center;
}

.banner article:last-child {
  width: 45%;
  color: #fff;
  padding: 30px;
  background-color: crimson;
  height: calc(100vh - 200px);
}

.banner article:last-child.wait {
  color: crimson;
}

.banner article:last-child a {
  margin: 0 auto 80px;
  display: block;
}

.banner article:last-child p, .banner article:last-child li {
  margin-bottom: 15px;
}

.banner article:last-child > ul > li > ul {
  margin-left: 40px;
}

.banner article:last-child > ul > li > ul ul {
  margin-left: 40px;
}

.banner article .banner-col {
  max-width: 600px;
  margin: 0 auto;
}

.banner article h1 {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 2s !important;
          animation-delay: 2s !important;
  opacity: 0;
  margin-bottom: -60px;
  text-align: left;
}

.banner article h2 {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 5s !important;
          animation-delay: 5s !important;
  opacity: 0;
}

.banner article h2 span:nth-child(1n + 4) {
  color: crimson;
}

.banner article h3 {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 8s !important;
          animation-delay: 8s !important;
  opacity: 0;
}

.banner article .dual-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
}

.banner article .dual-btn a:first-child {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 15s !important;
          animation-delay: 15s !important;
  opacity: 0;
}

.banner article .dual-btn a:last-child {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 20s !important;
          animation-delay: 20s !important;
  opacity: 0;
}

@media all and (max-width: 1280px) {
  .banner {
    min-height: 100vh;
    padding: 80px 0;
  }
  .banner article:first-child {
    width: 100%;
  }
  .banner article:first-child h1, .banner article:first-child h2, .banner article:first-child h3, .banner article:first-child .dual-btn a {
    -webkit-animation: none !important;
            animation: none !important;
    opacity: 1 !important;
  }
  .banner article:first-child .dual-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 40px;
  }
  .banner article:first-child .dual-btn a:first-child {
    margin-right: 20px;
  }
  .banner article:last-child {
    display: none;
  }
}

@media all and (max-width: 740px) {
  .banner {
    height: calc(100vh - 100px);
    min-height: 0;
  }
  .banner article:first-child {
    height: 75vh;
    padding: 0;
  }
  .banner article:first-child .banner-col {
    max-width: 100%;
  }
  .banner article:first-child .banner-col h2.heading span:nth-child(4) {
    padding: 5px;
  }
  .banner article:first-child h1 {
    margin-bottom: -45px;
  }
  .banner article:first-child h1, .banner article:first-child h2 {
    text-align: center;
  }
  .banner article:first-child .dual-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  .banner article:first-child .dual-btn a:first-child {
    -webkit-animation: show 1s linear forwards;
            animation: show 1s linear forwards;
    -webkit-animation-delay: 8s !important;
            animation-delay: 8s !important;
    opacity: 0;
    margin-right: 20px;
  }
  .banner article:first-child .dual-btn a:last-child {
    -webkit-animation: show 1s linear forwards;
            animation: show 1s linear forwards;
    -webkit-animation-delay: 10s !important;
            animation-delay: 10s !important;
    opacity: 0;
  }
}

@media all and (max-width: 440px) {
  .banner article:first-child {
    padding: 0;
  }
  .banner article:first-child .banner-col {
    width: 100%;
    max-width: 400px;
  }
}

.typing span {
  -webkit-animation: typing .05s linear 1 forwards;
          animation: typing .05s linear 1 forwards;
  opacity: 0;
}

@-webkit-keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about_title {
  width: 30%;
  position: relative;
  height: calc(100vh - 200px);
  background-color: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about_title .heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -20px;
}

.about .about_content {
  width: 70%;
  padding: 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .about_content .myPhoto {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-filter .3s ease-in-out;
  transition: -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about .about_content .myPhoto:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.about .about_content .aboutMe {
  width: calc(100% - 300px);
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about_content .aboutMe h3 {
  margin-bottom: 40px;
}

.about .about_content .content {
  padding: 40px 0 40px 15px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.about .about_content .content h3 {
  margin-bottom: 40px;
}

.about .about_content .content p {
  margin-bottom: 35px;
}

.about .about_content .content .icons img {
  height: 75px;
  margin-right: 20px;
}

.about .about_content .content .progressbars {
  padding: 10px 0;
}

.about .about_content .content .progressbars > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about_content .content .progressbars > div span {
  min-width: 70px;
  text-align: center;
}

.about .about_content .content .progressbars > div .progress {
  background-color: #f6f6f6;
  width: 100%;
}

.about .about_content .content .progressbars > div:last-child {
  margin-bottom: 0;
}

.about .about_content .content .progressbars > div .size {
  line-height: 25px;
  color: #fff;
  text-align: center;
  background-color: deepskyblue;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 0%;
  font-size: 0;
}

.about .about_content .content .progressbars.show div .size {
  font-size: 20px;
}

.about .about_content .content .progressbars.show .html .size {
  width: 80%;
}

.about .about_content .content .progressbars.show .css .size {
  width: 80%;
}

.about .about_content .content .progressbars.show .js .size {
  width: 65%;
}

.about .about_content .content .progressbars.show .react .size {
  width: 30%;
}

@media all and (max-width: 1440px) and (max-height: 900px) and (min-width: 1280px) and (min-height: 768px) {
  .about .about_content .myPhoto {
    width: 200px;
    height: 200px;
  }
  .about .about_content .aboutMe {
    width: calc(100% - 200px);
  }
  .about .about_content .content {
    padding-top: 30px;
  }
  .about .about_content .content h3 {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 1280px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0;
  }
  .about .about_title {
    height: 200px;
    width: 100%;
  }
  .about .about_title .heading {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-left: 0;
  }
  .about .about_content {
    width: 100%;
    padding: 80px 65px;
  }
  .about .about_content .progressbars {
    padding-bottom: 0 !important;
  }
}

@media all and (max-width: 740px) {
  .about {
    padding-bottom: 0;
  }
  .about .about_content {
    padding: 60px 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  .about .about_content .myPhoto {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
  }
  .about .about_content .aboutMe, .about .about_content .content {
    width: 100%;
    padding: 50px 0 45px 15px;
  }
  .about .about_content .aboutMe h3, .about .about_content .content h3 {
    margin-bottom: 20px;
  }
  .about .about_content .content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .about .about_content .content .progressbars {
    padding: 0;
  }
  .about .about_content .content p {
    margin-bottom: 35px;
  }
}

@media all and (max-width: 440px) {
  .about .about_title {
    height: 130px;
  }
}

.projects {
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects .wrap {
  width: 100%;
}

.projects .wrap h2 {
  padding: 20px 30px;
  background-color: crimson;
}

.projects .wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  min-height: 5vh;
  padding: 20px 0;
}

.projects .wrap .menu li {
  width: 32%;
  padding: 5px 20px;
  color: #000;
  text-align: center;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.projects .wrap .menu li.active, .projects .wrap .menu li:hover {
  font-weight: bold;
}

.projects .wrap .menu li.active {
  color: crimson;
}

.projects .wrap .menu li:hover {
  color: deepskyblue;
}

.projects .wrap #grid {
  height: calc(100vh - 200px - 5vh - 150px);
  padding: 80px 40px 30px;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .wrap #grid.two-elements > div {
  width: calc(50% - 20px);
  height: 100%;
}

.projects .wrap #grid > div {
  position: relative;
  width: calc(33% - 20px);
  height: 100%;
  max-height: 500px;
  min-height: 300px;
  margin-bottom: 30px;
}

.projects .wrap #grid > div div {
  height: 80%;
  width: 100%;
  border: 3px solid #f6f6f6;
  overflow-y: scroll;
}

.projects .wrap #grid > div div::-webkit-scrollbar {
  width: 10px;
  border: 2px solid #f6f6f6;
  border-right: none;
}

.projects .wrap #grid > div div::-webkit-scrollbar-thumb {
  background-color: deepskyblue;
  width: 10px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.projects .wrap #grid > div div::-webkit-scrollbar-thumb:hover {
  background-color: crimson;
}

.projects .wrap #grid > div img {
  width: 100%;
}

.projects .wrap #grid > div:nth-of-type(2) img, .projects .wrap #grid > div:nth-of-type(1) img {
  margin-bottom: -10px;
}

.projects .wrap #grid > div a {
  color: crimson;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: relative;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  text-align: center;
  display: block;
  cursor: pointer;
  position: absolute;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media all and (max-width: 1280px) {
  .projects .wrap #grid {
    height: 700px;
  }
}

.projects .wrap .btn {
  margin: 0 auto;
}

@media all and (max-width: 1280px) {
  .projects {
    padding: 0 !important;
    padding-bottom: 80px !important;
  }
  .projects .wrap .heading {
    padding: 0;
    line-height: 200px;
  }
  .projects .wrap #grid > div {
    margin-bottom: 0;
  }
  .projects .wrap #grid > div div {
    max-height: 300px;
    min-height: 300px;
  }
  .projects .wrap #grid > div img {
    min-height: 300px;
  }
}

@media all and (max-width: 740px) {
  .projects {
    padding-bottom: 60px !important;
  }
  .projects .wrap .menu {
    padding: 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .wrap .menu li {
    padding: 0;
    width: 25%;
  }
  .projects .wrap #grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto !important;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
  }
  .projects .wrap #grid > div {
    width: 100% !important;
    min-height: 400px;
    max-height: 400px;
  }
  .projects .wrap #grid > div a {
    height: 100px;
  }
  .projects .wrap #grid > div div {
    height: 300px;
  }
  .projects .wrap #grid > div:last-child {
    margin-bottom: 0;
  }
}

@media all and (max-width: 440px) {
  .projects .wrap .heading {
    line-height: 130px;
  }
}

@keyframes show {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.gameSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameSection .games {
  height: calc(100vh - 200px);
  max-height: 1920px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.gameSection .games .mario {
  position: absolute;
  height: 45px;
  width: 35px;
  bottom: calc(100% - 80px);
  z-index: 20;
  background-image: url(../image/Mario.png);
  background-size: cover;
  background-position: 0 0;
  left: 80px;
  -webkit-animation: walk 1.2s infinite steps(8), move 4s infinite linear alternate, turn 8s infinite linear;
          animation: walk 1.2s infinite steps(8), move 4s infinite linear alternate, turn 8s infinite linear;
}

.gameSection .games.game-start {
  height: calc(100vh - 200px);
}

.gameSection .games.game-start::after {
  width: 100%;
}

.gameSection .games.game-start .game-intro h2 {
  top: -1000px !important;
}

.gameSection .games.game-start .gameStartBtn {
  bottom: -1000px !important;
}

.gameSection .games.game-start .game {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameSection .games.game-start .game .center > h2 {
  display: block;
}

@media all and (max-width: 1440px) and (max-height: 900px) and (min-width: 1280px) and (min-height: 768px) {
  .gameSection .games.game-start {
    height: 100vh;
  }
}

.gameSection .games::after {
  height: 100%;
  width: 50%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: crimson;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.gameSection .games .game-intro {
  text-align: center;
  padding: 80px;
  position: relative;
  z-index: 1;
}

.gameSection .games .game-intro h2 {
  margin-bottom: 50px;
  position: relative;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  top: 0;
}

.gameSection .games .game-intro h2 span {
  color: #000;
  -webkit-text-fill-color: #000;
}

.gameSection .games .game-intro h2 span:nth-child(1n + 13) {
  color: deepskyblue;
  -webkit-text-fill-color: deepskyblue;
}

.gameSection .games .game-intro h2 span:nth-child(3), .gameSection .games .game-intro h2 span:nth-child(7), .gameSection .games .game-intro h2 span:nth-child(12) {
  padding: 10px;
}

.gameSection .games .game-intro .btn {
  margin: 0 auto;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  position: relative;
  bottom: 0;
}

.gameSection .games .game {
  position: absolute;
  height: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: crimson;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  overflow: hidden;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  z-index: 1;
}

.gameSection .games .game .levelHead {
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
  font-size: 40px;
}

.gameSection .games .game .levelHead.hover {
  -webkit-text-fill-color: #fff;
}

.gameSection .games .game div {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.gameSection .games .game div button {
  display: none;
}

.gameSection .games .game div h2 {
  display: none;
}

.gameSection .games .game div h2.lose {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 2;
  width: 90%;
  text-align: center;
  top: 20% !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  font-family: monospace;
}

.gameSection .games .game div.activeGame::after {
  content: "";
  background-color: rgba(51, 51, 51, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gameSection .games .game div.activeGame button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.gameSection .games .game div.paused::before {
  content: "";
  background-color: rgba(51, 51, 51, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gameSection .games .game div.paused::after {
  content: "PAUSED";
  color: #fff;
  font-size: 30px;
  top: 50%;
  left: 50%;
  height: 45px;
  line-height: 45px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gameSection .games .game div canvas {
  background-color: snow;
  display: block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media all and (max-width: 1280px) {
  .gameSection {
    display: none;
  }
}

@-webkit-keyframes walk {
  /* 0% {
     background-position: 0 0;
    } */
  100% {
    background-position: -315px 0;
  }
}

@keyframes walk {
  /* 0% {
     background-position: 0 0;
    } */
  100% {
    background-position: -315px 0;
  }
}

@-webkit-keyframes move {
  100% {
    left: calc(100% - 80px);
  }
}

@keyframes move {
  100% {
    left: calc(100% - 80px);
  }
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50.001% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50.001% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact_title {
  width: 30%;
  position: relative;
  background-color: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact_title .heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact_content {
  width: 70%;
}

.contact .contact_content div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.contact .contact_content div p:first-of-type {
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 1;
}

.contact .contact_content div p:first-of-type .drop {
  color: crimson;
  position: relative;
}

.contact .contact_content div p:first-of-type .drop span {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  display: none;
  top: -30px;
  left: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 240px;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  background-color: deepskyblue;
}

.contact .contact_content div p:first-of-type .drop span::after {
  content: '';
  border: 5px solid transparent;
  border-top-color: deepskyblue;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact .contact_content div p:first-of-type .drop:hover span {
  display: block;
}

.contact .contact_content div h2 {
  margin-bottom: 30px;
}

.contact .contact_content form {
  padding-top: 50px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.contact .contact_content form input, .contact .contact_content form textarea {
  border: 1px solid #000;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px 10px;
}

.contact .contact_content form input::-webkit-input-placeholder, .contact .contact_content form textarea::-webkit-input-placeholder {
  opacity: 1;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #000;
}

.contact .contact_content form input:-ms-input-placeholder, .contact .contact_content form textarea:-ms-input-placeholder {
  opacity: 1;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #000;
}

.contact .contact_content form input::-ms-input-placeholder, .contact .contact_content form textarea::-ms-input-placeholder {
  opacity: 1;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #000;
}

.contact .contact_content form input::placeholder, .contact .contact_content form textarea::placeholder {
  opacity: 1;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #000;
}

.contact .contact_content form textarea {
  padding-bottom: 0;
}

@media all and (max-width: 1280px) {
  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .contact .contact_title, .contact .contact_content {
    width: 100%;
  }
  .contact .contact_title {
    min-height: 200px;
    height: 200px;
  }
  .contact .contact_title .heading {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-left: 0;
    line-height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contact_content {
    min-height: calc(100vh - 200px);
    padding: 60px 0;
  }
}

@media (max-width: 480px) {
  .contact .contact_content > div:first-child p {
    max-width: 290px;
    margin: 0 auto;
  }
  .contact .contact_content > div:first-child p a {
    display: block;
  }
}

@media all and (max-width: 740px) {
  .contact .contact_content {
    width: 100%;
    max-width: 600px;
    padding: 60px 20px;
    margin: 0 auto;
  }
  .contact .contact_content p .drop span {
    display: none !important;
  }
  .contact .contact_content div {
    width: 100%;
  }
  .contact .contact_content div h2.heading {
    margin-bottom: 25px;
  }
  .contact .contact_content form {
    padding-top: 40px;
  }
  .contact .contact_content form input, .contact .contact_content form textarea {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 440px) {
  .contact .contact_title {
    min-height: 130px;
    height: 130px;
  }
}
/*# sourceMappingURL=style.css.map */