@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  overflow: hidden;
  scroll-behavior: smooth;
}

h1.fl-heading.hover .rubberBand, h2.fl-heading.hover .rubberBand {
  -webkit-text-fill-color: deepskyblue;
  color: deepskyblue;
}

.cursor {
  width: 30px;
  height: 30px;
  position: absolute;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 98;
  pointer-events: none;
  -webkit-transition: background-color .3s ease-in-out, width .3s ease-in-out .3s,height .3s ease-in-out .3s;
  transition: background-color .3s ease-in-out, width .3s ease-in-out .3s,height .3s ease-in-out .3s;
  border: 1px solid deepskyblue;
  background-color: transparent;
}

.cursor.hover {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: deepskyblue;
  height: 80px;
  width: 80px;
}

.cursor.hover-heading {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
}

section:last-child {
  margin-bottom: 0;
}

.stroke {
  -webkit-text-fill-color: #f6f6f6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: deepskyblue;
}

p, li, ul {
  font-size: 18px;
  line-height: 1.6;
}

.fl-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 1;
}

.fl-heading.title {
  position: relative;
}

.fl-heading.title::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  border: 1px solid deepskyblue;
}

h1 {
  font-size: 160px;
}

h2 {
  font-size: 74px;
}

h2.big {
  font-size: 150px;
  min-width: 520px;
  text-align: center;
}

h3 {
  font-size: 19px;
  text-transform: uppercase;
}

h1 span, h2 span, h3 span {
  font-family: "Poppins", sans-serif;
}

.letter {
  display: inline-block;
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: deepskyblue;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
            transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
            transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
            transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
            transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
            transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
            transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

.btn {
  padding: 15px 25px;
  min-width: 160px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: relative;
  overflow: hidden;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.btn.big {
  min-width: 260px;
  font-size: 20px;
  padding: 20px 25px;
}

.btn.long {
  width: 100%;
}

.btn.primary {
  background-color: #fff;
  border: 1px solid deepskyblue;
}

.btn.primary span {
  position: relative;
  z-index: 2;
  color: deepskyblue;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.btn.primary::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  left: 0;
  bottom: 0;
  background-color: deepskyblue;
  right: 100%;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.btn.primary:hover span {
  color: #f6f6f6;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.btn.primary:hover::before {
  right: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.btn.secondary {
  background-color: deepskyblue !important;
  color: #fff;
}

.btn.secondary span {
  position: relative;
  z-index: 2;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.btn.secondary::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  left: 0;
  bottom: 0;
  background-color: crimson;
  right: 100%;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.btn.secondary:hover::before {
  right: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1440px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul .hover a {
  color: #fff;
}

header .hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hamburger.hover .hamburger-inner {
  background-color: #fff;
}

header .hamburger.hover .hamburger-inner::after, header .hamburger.hover .hamburger-inner::before {
  background-color: #fff;
}

header .hamburger .hamburger-inner {
  background-color: deepskyblue;
}

header .hamburger .hamburger-inner::after, header .hamburger .hamburger-inner::before {
  border-radius: 0;
  background-color: deepskyblue;
}

header img {
  width: 70px;
  height: 70px;
}

header ul {
  display: none;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 70px);
}

header ul li {
  padding: 20px 15px;
  text-align: center;
}

header ul li:first-child {
  padding-left: 30px;
}

header ul li:last-child {
  position: absolute;
  right: 21%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: 15px;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

header ul li a:hover::after {
  left: 0;
  right: 0;
}

.navigation {
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 100;
  background-color: deepskyblue;
  -webkit-transition: .75s ease-in-out;
  transition: .75s ease-in-out;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  margin: 80px auto 0;
  max-width: 260px;
}

.navigation ul li {
  width: 100%;
  margin-bottom: 20px;
}

.navigation ul li .btn {
  width: 100%;
}

.navigation ul li .btn span {
  color: crimson;
}

.navigation ul li .btn::before {
  background-color: crimson;
}

.gameSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameSection .games {
  min-height: calc(100vh - 200px);
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.gameSection .games .mario {
  position: absolute;
  height: 45px;
  width: 35px;
  bottom: calc(100% - 80px);
  z-index: 20;
  background-image: url(../image/Mario.png);
  background-size: cover;
  background-position: 0 0;
  left: 80px;
  -webkit-animation: walk 1.2s infinite steps(8), move 4s infinite linear alternate, turn 8s infinite linear;
          animation: walk 1.2s infinite steps(8), move 4s infinite linear alternate, turn 8s infinite linear;
}

.gameSection .games.game-start {
  min-height: 100vh;
}

.gameSection .games.game-start::after {
  width: 100%;
}

.gameSection .games.game-start h2 {
  top: -500px !important;
}

.gameSection .games.game-start .gameStartBtn {
  bottom: -500px !important;
}

.gameSection .games.game-start .game {
  height: 100vh;
}

.gameSection .games::after {
  height: 100%;
  width: 50%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: crimson;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.gameSection .games .game-intro {
  text-align: center;
  padding: 80px;
  position: relative;
  z-index: 1;
}

.gameSection .games .game-intro h2 {
  margin-bottom: 50px;
  position: relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  top: 0;
}

.gameSection .games .game-intro h2 span {
  color: #000;
  -webkit-text-fill-color: #000;
}

.gameSection .games .game-intro h2 span:nth-child(1n + 13) {
  color: deepskyblue;
  -webkit-text-fill-color: deepskyblue;
}

.gameSection .games .game-intro h2 span:nth-child(3), .gameSection .games .game-intro h2 span:nth-child(7), .gameSection .games .game-intro h2 span:nth-child(12) {
  padding: 10px;
}

.gameSection .games .game-intro .btn {
  margin: 0 auto;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  position: relative;
  bottom: 0;
}

.gameSection .games .game {
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  background-color: crimson;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  overflow: hidden;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  z-index: 1;
}

.gameSection .games .game .levelHead {
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

.gameSection .games .game .levelHead.hover {
  -webkit-text-fill-color: #fff;
}

.gameSection .games .game div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 800px;
}

.gameSection .games .game div button {
  display: none;
}

.gameSection .games .game div h2 {
  display: none;
}

.gameSection .games .game div h2.lose {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 2;
  width: 90%;
  text-align: center;
  top: 20% !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  font-family: monospace;
}

.gameSection .games .game div.activeGame::after {
  content: "";
  background-color: rgba(51, 51, 51, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gameSection .games .game div.activeGame button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.gameSection .games .game div.paused::before {
  content: "";
  background-color: rgba(51, 51, 51, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gameSection .games .game div.paused::after {
  content: "PAUSED";
  color: #fff;
  font-size: 30px;
  top: 50%;
  left: 50%;
  height: 45px;
  line-height: 45px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gameSection .games .game div canvas {
  background-color: snow;
  display: block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@-webkit-keyframes walk {
  /* 0% {
     background-position: 0 0;
    } */
  100% {
    background-position: -315px 0;
  }
}

@keyframes walk {
  /* 0% {
     background-position: 0 0;
    } */
  100% {
    background-position: -315px 0;
  }
}

@-webkit-keyframes move {
  100% {
    left: calc(100% - 80px);
  }
}

@keyframes move {
  100% {
    left: calc(100% - 80px);
  }
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50.001% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50.001% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner h1.fl-heading, .banner h2.fl-heading {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.banner h1.fl-heading span, .banner h2.fl-heading span {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.banner h2 span:nth-child(4) {
  padding: 10px;
}

.banner article {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner article:first-child {
  width: 55%;
  padding: 0 60px;
  text-align: center;
}

.banner article:last-child {
  width: 45%;
  color: #fff;
  padding: 30px;
  background-color: crimson;
  height: calc(100vh - 200px);
}

.banner article:last-child a {
  margin: 0 auto 80px;
  display: block;
}

.banner article:last-child p, .banner article:last-child li {
  margin-bottom: 15px;
}

.banner article:last-child > ul > li > ul {
  margin-left: 40px;
}

.banner article:last-child > ul > li > ul ul {
  margin-left: 40px;
}

.banner article .banner-col {
  max-width: 600px;
  margin: 0 auto;
}

.banner article h1 {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
  margin-bottom: -60px;
  text-align: left;
}

.banner article h2 {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  opacity: 0;
}

.banner article h2 span:nth-child(1n + 4) {
  color: crimson;
}

.banner article h3 {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  opacity: 0;
}

.banner article .dual-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
}

.banner article .dual-btn a:first-child {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  opacity: 0;
}

.banner article .dual-btn a:last-child {
  -webkit-animation: show 1s linear forwards;
          animation: show 1s linear forwards;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
  opacity: 0;
}

.typing span {
  -webkit-animation: typing .05s linear 1 forwards;
          animation: typing .05s linear 1 forwards;
  opacity: 0;
}

@-webkit-keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about_title {
  width: 30%;
  position: relative;
  height: calc(100vh - 200px);
  background-color: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about_title .fl-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -20px;
}

.about .about_content {
  width: 70%;
  padding: 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .about_content .myPhoto {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}

.about .about_content .aboutMe {
  width: calc(100% - 300px);
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about_content .aboutMe h3 {
  margin-bottom: 40px;
}

.about .about_content .content {
  padding: 40px 0 40px 15px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.about .about_content .content h3 {
  margin-bottom: 40px;
}

.about .about_content .content p {
  margin-bottom: 35px;
}

.about .about_content .content .icons img {
  height: 75px;
  margin-right: 20px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects h2 {
  text-align: left;
  line-height: 1.5;
  background-color: crimson;
  padding: 20px 30px;
}

.projects .projects-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .projects-flex a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.projects .projects-flex a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 15px;
}

.projects .projects-flex a h3 {
  line-height: 1.5;
  padding: 15px 0;
  display: block;
  color: #333;
}

footer {
  margin: 80px 0;
  background-color: crimson;
  height: 60px;
}

footer img {
  margin: 0 auto;
  display: block;
  height: 100px;
  width: 100px;
  position: relative;
  top: -20px;
}

.followBox {
  top: 125px;
  right: 0;
  height: calc(100vh - 250px);
  position: absolute;
  background-color: crimson;
  width: 45%;
}

.followBox.active0 {
  -webkit-animation: backStep 4s ease-in-out 1 forwards;
          animation: backStep 4s ease-in-out 1 forwards;
}

.followBox.active {
  -webkit-animation: firstStep 4s ease-in-out 1 forwards;
          animation: firstStep 4s ease-in-out 1 forwards;
}

.followBox.active2 {
  -webkit-animation: secStep 2s ease-in-out 1 forwards;
          animation: secStep 2s ease-in-out 1 forwards;
}

.followBox.active3 {
  -webkit-animation: thirdStep 4s ease-in-out 1 forwards;
          animation: thirdStep 4s ease-in-out 1 forwards;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact_title {
  width: 30%;
  position: relative;
  background-color: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact_title .fl-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact_content {
  width: 70%;
}

.contact .contact_content div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.contact .contact_content div p:first-of-type {
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 1;
}

.contact .contact_content div p:first-of-type a {
  color: crimson;
}

.contact .contact_content div h2 {
  margin-bottom: 30px;
}

.contact .contact_content form {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}

.contact .contact_content form input, .contact .contact_content form textarea {
  border: 1px solid #000;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px 10px;
}

.contact .contact_content form input::-webkit-input-placeholder, .contact .contact_content form textarea::-webkit-input-placeholder {
  opacity: 1;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #000;
}

.contact .contact_content form input:-ms-input-placeholder, .contact .contact_content form textarea:-ms-input-placeholder {
  opacity: 1;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #000;
}

.contact .contact_content form input::-ms-input-placeholder, .contact .contact_content form textarea::-ms-input-placeholder {
  opacity: 1;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #000;
}

.contact .contact_content form input::placeholder, .contact .contact_content form textarea::placeholder {
  opacity: 1;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #000;
}

.contact .contact_content form textarea {
  padding-bottom: 0;
}
/*# sourceMappingURL=style.css.map */