.contact {
    display: flex;
    padding: 100px 0;
    &>div {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .contact_title {
        width: 30%;
        position: relative;
        // height: 700px;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        .heading {
            transform: rotate(-90deg);
            margin-left: -20px;
            display: flex;
        }
    }
    .contact_content {
        width: 70%;
        div {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            p:first-of-type {
                font-size: 19px;
                text-transform: uppercase;
                font-family: $heading-font;
                font-weight: 900;
                line-height: 1;
                a {
                    color: $color-primary;
                }
            }
            h2 {
                // text-align: center;
                margin-bottom: 30px;
            }
        }
        form {
            padding-top: 50px;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            input, textarea {
                border: 1px solid #000;
                width: 100%;
                margin-bottom: 25px;
                padding: 15px 10px;
                // background-color: #f6f6f6;
                &::placeholder {
                    opacity: 1;
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                    color: #000;
                }
            }
            textarea {
                padding-bottom: 0;
            }
        }
    }
}