header {
    display: flex;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1440px;
    transform: translateX(-50%);
    z-index: 100;
    justify-content: space-between;
    // &.hover {
        ul .hover a {
            color: #fff;
        }


    // }

    //HAMBURGER MENU
        .hamburger {
            position: relative;
            display: flex;
            align-items: center;
            // z-index: 101;
            &.hover {
                
                .hamburger-inner {
                    background-color: #fff;
                    transition: background-color .3s;
                    &::after, &::before {
                        // border-radius: 0;
                        background-color: #fff;
                        transition: background-color .3s;
                    }
                }
            }
            .hamburger-inner {
                background-color: $color-secondary;
                &::after, &::before {
                    border-radius: 0;
                    background-color: $color-secondary;
                }
            }
        }

    img {
        width: 70px;
        height: 70px;
    }
    ul {
        display: none;
        min-height: 100%;
        align-items: center;
        width: calc(100% - 70px);
        li {
            padding: 20px 15px;
            text-align: center;
            &:first-child {
                padding-left: 30px;
            }
            &:last-child {
                position: absolute;
                right: 21%;
                transform: translateX(50%);
                top: 15px;
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                font-weight: bold;
                // position: relative;
                font-size: 16px;
                // &.hover:not(.btn) {
                //     -webkit-text-fill-color: $color-primary;
                //     &::after {
                //         background-color: $color-primary;
                //     }
                // }
                // &::after {
                //     content: "";
                //     position: absolute;
                //     top: 100%;
                //     height: 5px;
                //     left: 51%;
                //     right: 51%;
                //     transition: .3s ease-in-out;
                //     background-color: #000;
                // }
                &:hover {
                    &::after {
                        left: 0;
                        right: 0;
                    }
                }
                // &.primary {
                //     color: $color-primary;
                //     &::after {
                //         background-color: $color-primary;
                //     }
                // }
            }
        }
    }
}