header {
    display: flex;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1440px;
    transform: translateX(-50%);
    z-index: 100;
    justify-content: space-between;
    // &.hover {
        ul .hover a {
            color: #fff;
        }


    // }

    //HAMBURGER MENU
        .hamburger {
            position: relative;
            display: flex;
            align-items: center;
            z-index: 101;
            &.hover {
                
                .hamburger-inner {
                    background-color: #fff;
                    &::after, &::before {
                        // border-radius: 0;
                        background-color: #fff;
                    }
                }
            }
            .hamburger-inner {
                background-color: $color-secondary;
                &::after, &::before {
                    border-radius: 0;
                    background-color: $color-secondary;
                }
            }
        }

    img {
        width: 70px;
        height: 70px;
    }
}

.navigation {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 10;
    background-color: $color-secondary;
    transition: .75s ease-in-out;
    &.active {
        left: 0;
    }
    ul {
        // margin: 80px auto 0;
        min-width: 260px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        li {
            width: 100%;
            .btn {
                width: 100%;
                font-size: 50px;
                line-height: 1.4;
            }
            &:last-child {
                .btn {
                    &::after {
                        display: none;
                    }
                }   
            }
        }
    }
}