

//BANNER

.banner {
    display: flex;
    // min-height: 60vh;
    margin-top: 0;
    align-items: center;
    h1.heading, h2.heading {
        transition: .3s ease-in-out;
        span {
            transition: .3s ease-in-out;
        }
        // &.hover {
        //     // -webkit-text-fill-color: $color-primary;
        //     // span {
        //     //     -webkit-text-fill-color: $color-primary;
        //     // }
        // }
    }
    h2 {
        span:nth-child(4) {
            padding: 10px;
        }
    }
    article {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:first-child {
            width: 55%;
            padding: 0 60px;
            text-align: center;
        }
        &:last-child {
            width: 45%;
            color: #fff;
            padding: 30px;
            background-color: $color-primary;
            height: calc(100vh - 200px);
            a {
                margin: 0 auto 80px;
                display: block;
            }
            p,li {
                margin-bottom: 15px;
            }
            & > ul {
                & > li {
                    & > ul {
                        margin-left: 40px;
                        ul {
                            margin-left: 40px;
                        }
                    }
                }
            }
        }
        .banner-col {
            max-width: 600px;
            margin: 0 auto;
        }
        h1 {
            animation: show 1s linear forwards;
            animation-delay: 2s !important;
            opacity: 0;
            // margin-bottom: -85px;
            margin-bottom: -60px;
            text-align: left;
        }
        h2 {
            animation: show 1s linear forwards;
            animation-delay: 5s !important;
            opacity: 0;

            span:nth-child(1n + 4) {
                color: $color-primary;
            }
        }
        h3 {
            animation: show 1s linear forwards;
            animation-delay: 8s !important;
            opacity: 0;
        }
        .dual-btn {
            display: flex;
            justify-content: space-evenly;
            margin-top: 40px;
            a {
                &:first-child {
                    animation: show 1s linear forwards;
                    animation-delay: 15s !important;
                    opacity: 0;
                }
                &:last-child {
                    animation: show 1s linear forwards;
                    animation-delay: 20s !important;
                    opacity: 0;
                }
            }
        }
    }
    @include tablet {
        article:first-child {
            width: 100%;
            h1,h2,h3, .dual-btn a {
                animation: none !important;
                opacity: 1;
            }
            .dual-btn {
                display: flex;
                justify-content: space-evenly;
                margin-top: 40px;
                a {
                    margin-bottom: 20px;
                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }
        }
        article:last-child {
            display: none;
        }
    }
    @include mobile {
        article:first-child {
            .banner-col {
                max-width: 100%;
            }
            h1 {
                margin-bottom: -35px;
            }
            h2 {
                text-align: right;
            }
            .dual-btn {
                display: flex;
                justify-content: space-evenly;
                margin-top: 40px;
                flex-wrap: wrap;
                a {
                    &:first-child {
                        animation: show 1s linear forwards;
                        animation-delay: 8s !important;
                        opacity: 0;
                    }
                    &:last-child {
                        animation: show 1s linear forwards;
                        animation-delay: 10s !important;
                        opacity: 0;
                    }
                }
            }
        }
    }
    @include small-mobile {
        article:first-child {
            padding: 0 20px;
        }
    }
}

//TYPING in javascript you can find code to this part. (delay)

.typing {
    span {
        animation: typing .05s linear 1 forwards;
        opacity: 0;
    }
}
@keyframes typing {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//ABOUT

.about {
    display: flex;
    align-items: center;
    &>div {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .about_title {
        width: 30%;
        position: relative;
        height: calc(100vh - 200px);
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        .heading {
            transform: rotate(-90deg);
            margin-left: -20px;
        }
    }
    .about_content {
        width: 70%;
        padding: 0 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .myPhoto {
            width: 300px;
            height: 300px;
            object-fit: cover;
            position: relative;
            z-index: 1;
            transition: .3s ease-in-out;
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0%);
            }
        }
        .aboutMe {
            width: calc(100% - 300px);
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3 {
                margin-bottom: 40px;
            }
        }
        .content {
            padding: 40px 0 40px 15px;
            padding-bottom: 0;
            // margin-left: 40px;
            // margin-right: 40px;
            position: relative;
            z-index: 2;
            background-color: #fff;
            h3 {
                margin-bottom: 40px;
            }
            p {
                margin-bottom: 35px;
            }
            .icons {
                img {
                    height: 75px;
                    margin-right: 20px;
                }
            }
            .progressbars {
                padding: 10px 0;
                & > div {
                    // border: 1px solid;
                    margin-bottom: 15px;
                    display: flex;
                    span {
                        min-width: 70px;
                        text-align: center;
                    }
                    .progress {
                        background-color: #f6f6f6;
                        width: 100%;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .size {
                        line-height: 25px;
                        color: #fff;
                        text-align: center;
                        background-color: $color-secondary;
                        transition: width 1s ease-in-out;
                        width: 0%;
                        font-size: 0;
                    }
                }
                &.show {
                    div .size {
                        font-size: 20px;
                    }
                    .html {
                        .size {
                            width: 80%;
                        }
                    }
                    .css {
                        .size {
                            width: 80%;
                        }
                    }
                    .js {
                        .size {
                            width: 65%;

                        }
                    }
                    .react {
                        .size {
                            width: 30%;

                        }
                    }
                }
            }
        }
    }
    @include tablet {
        flex-wrap: wrap;
        padding-bottom: 100px;
        .about_title {
            height: 200px;
            width: 100%;
            .heading {
                transform: rotate(0deg);
                margin-left: 0;
            }
        }
        .about_content {
            width: 100%;
            
            padding: 100px 65px 0;
        }
    }
    @include mobile {
        padding-bottom: 80px;
        .about_content {
            padding: 80px 20px 0;
            img {
                margin-bottom: 40px;
            }
            .aboutMe, .content {
                width: 100%;
                padding: 40px 15px;
            }
            .content {
                padding-bottom: 0;
            }
        }
    }
}

//PROJECTS

.projects {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .wrap {
        // height: calc(100vh - 200px);
        width: 100%;
        h2 {
            padding: 20px 30px;
            background-color: $color-primary;
        }
        .menu {
            display: flex;
            max-width: 400px;
            margin: 0 auto;
            min-height: 5vh;
            padding: 20px 0;
            li {
                width: 32%;
                padding: 5px 20px;
                color: #000;
                text-align: center;
                position: relative;
                transition: .3s ease-in-out;
                &.active, &:hover {
                    font-weight: bold;
                }
                &.active {
                    color: $color-primary;
                }
                &:hover {
                    color: $color-secondary;
                }
                // text-transform: uppercase;
            }
        }
        #grid {
            // width: 70%;
            height: calc(100vh - 200px - 5vh - 150px);
            padding: 0 40px;
            overflow-y: hidden;
            // display: grid;
            // grid-template-columns: auto auto auto;
            // grid-column-gap: 30px;
            // grid-row-gap: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            &.two-elements {
                // grid-template-columns: auto auto;
                & > div {
                    width: calc(50% - 20px);
                    height: 100%;
                }
            }
            & > div {
                position: relative;
                width: calc(33% - 20px);
                height: calc(50% - 15px);
                margin-bottom: 30px;
                &:nth-child(1n + 4) {
                    margin-bottom: 0;
                }
                // padding: 15px;
                // height: 50%;
                animation: show 1s ease-in-out 1 forwards;
                div {
                    position: absolute;
                    width: 80%;
                    height: 80%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $color-secondary;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: .3s ease-in-out;
                    h3, p {
                        color: #fff;
                    }
                    h3 {
                        margin-bottom: 10px;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover {
                    div {
                        opacity: 1;
                    }
                }
            }
        }
    }

    @include tablet {
        padding: 0 !important;
        padding-bottom: 80px !important;
        .wrap {
            .heading {
                padding: 0;
                line-height: 200px;
            }
            .menu {
                padding: 30px 0 ;
            }
            #grid {
                & > div {
                    max-height: 500px;
                }
            }
        }
    }
    @include mobile {
        .wrap {
            #grid {
                flex-direction: column;
                flex-wrap: nowrap;
                height: auto !important;
                & > div {
                    width: 100% !important;
                }
            }
        }
    }
}

@keyframes show {
    0%{
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}