$color-primary: crimson;
$color-secondary: deepskyblue;

//FONTS

//HEADING FONT / BUTTON FONT

$heading-font: 'Montserrat', sans-serif;
$btn-font: $heading-font;

//P / UL / LI FONT

$text-font: 'Roboto', sans-serif;