footer {
    margin: 80px 0;
    background-color: $color-primary;
    height: 60px;
    img {
        margin: 0 auto;
        display: block;
        height: 100px;
        width: 100px;
        position: relative;
        top: -20px;
    }
}