header {
    display: flex;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1440px;
    transform: translateX(-50%);
    z-index: 100;
    justify-content: space-between;
    .backArrow {
        display: none;
    }
    @include mobile {
        position: static;
        transform: none;
        padding: 10px 20px;
        padding-bottom: 0;
        .backArrow {
            display: block;
            position: fixed;
            bottom: 10px;
            right: 20px;
            z-index: 99;
            color: $color-secondary;
            font-size: 40px;
        }
        img {
            width: 60px !important;
            height: 60px !important;
        }
    }
        ul .hover a {
            color: #fff;
        }

    //HAMBURGER MENU
        .hamburger {
            position: relative;
            display: flex;
            align-items: center;
            z-index: 101;
            &.hover {
                
                .hamburger-inner {
                    background-color: #fff;
                    &::after, &::before {
                        // border-radius: 0;
                        background-color: #fff;
                    }
                }
            }
            .hamburger-inner {
                background-color: $color-secondary;
                &::after, &::before {
                    border-radius: 0;
                    background-color: $color-secondary;
                }
            }
        }

    img {
        width: 70px;
        height: 70px;
    }
}

.navigation {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 10;
    background-color: $color-secondary;
    transition: .75s ease-in-out;
    &.active {
        left: 0;
    }
    ul {
        min-width: 260px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        li {
            width: 100%;
            position: relative;
            &:nth-last-child(2) {
                @include tablet {
                    display: none;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: calc(100% - 2px);
                z-index: 1;
                display: block;
                background-color: rgba(255,255,255,.7);
                left: 0;
                width: 100%;
                height: 2px;
                transition: .3s ease-in-out;
            }

            .btn {
                width: 100%;
                font-size: 50px;
                line-height: 1.4;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            &:hover {
                &::after {
                    background-color: rgba(255,255,255,1);
                }
            }
        }
    }
}